@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');




:root{
    --verde: #26ff00;
    --preto: #000000;
    --roxo: #5d00ffcf;
    --cinza: #303030;
    --font-texto: "PT Serif", serif;
    --fonte-titulo: "Francois One", sans-serif;
}

body{
    background-color:var(--roxo);
    color: var(--preto);
    font-family: var(--font-texto);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span{
    color: var(--preto);

}


.botao{
    font-family: var(--font-texto);
    font-size: 18px;
    background-color: var(--cinza);
    color: var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--cinza);
    border-left: 4px solid var(--cinza);
    border-right: 4px solid var(--cinza);
    border-top: 4px solid var(--cinza);
}
.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
} 
.botao.ativo{
    background-color: var(--verde);
    border-bottom: 4px solid var(--verde);
}
.abas-textos{
    background-color: var(--verde);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}